@page
@model RazorPagesRecipe.Pages.Recipes.IndexModel

@{
    ViewData["Title"] = "Index";
}
@Html.AntiForgeryToken()
<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>


<ejs-grid id="GridRecipes" load="onLoad">

    <e-data-manager url="/Recipes/Index?handler=DataSource" adaptor="UrlAdaptor"></e-data-manager>
    <e-grid-columns>
        <e-grid-column field="ID" headerText="Recipe ID" textAlign="Right" width="120" visible="true"></e-grid-column>
        <e-grid-column field="Title" headerText="Title" width="150" visible="true"></e-grid-column>
        <e-grid-column field="Description" headerText="Description" width="150" visible="true"></e-grid-column>
    </e-grid-columns>
</ejs-grid>


@*<table class="table">
    <thead>
        <tr>
            <th>
                Category
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Title)
            </th>
            <th>
                Total Time
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Owner)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Vegetarian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Freezable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Source)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Recipe)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.RecipeID">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner)
                </td>

                <td>
                    @(item.Vegetarian ? "Yes" : "No")
                </td>
                <td>
                    @(item.Freezable ? "Yes" : "No")
                </td>
                <td>
                    <a href=@Html.DisplayFor(modelItem => item.Source)>@Html.DisplayFor(modelItem => item.Source)</a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.RecipeID">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.RecipeID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@

<script>
    function onLoad()
    {
        this.dataSource.dataSource.headers = [{ 'XSRF-TOKEN': $("input:hidden[name='__RequestVerificationToken']").val() }];
    }
</script>