@page
@model RazorPagesRecipe.Pages.Recipes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Title)
            </th>
            <th>
                Category
            </th>
            <th>
                Total Time
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Vegetarian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Freezable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Owner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Recipe) {
        <tr>
            <td>
                <a asp-page="./Details" asp-route-id="@item.RecipeID">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalTime)
            </td>
            <td>
                <a href=@Html.DisplayFor(modelItem => item.Source)>@Html.DisplayFor(modelItem => item.Source)</a>
            </td>
            <td>
                @(item.Vegetarian ? "Yes" : "No")
            </td>
            <td>
                @(item.Freezable ? "Yes" : "No")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RecipeID">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.RecipeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
